@import "/src/variables.scss";

.community {
  background-color: $global_background_color;
  .header-icons {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .posts {
    margin-top: $header_height;
  }
}
