@import "/src/variables.scss";

.profile_page {
  section:not(.post_wrap) {
    background-color: #fff;
  }

  .profile_container {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  .profile_img {
    margin-right: 12px;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 1px solid #f0f2f4;
    }
  }

  .profile_info {
    p {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 4px;
    }

    button {
      font-weight: 700;
      font-size: 12px;
      color: #afb8c3;
      display: flex;
      align-items: center;

      &::after {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        background-image: url(https://dev.front.lounge.tdi9.com/img/profile_arrow.3349278f.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .select_post_container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    li {
      width: 48%;

      input[type="radio"] {
        display: none;

        &:checked + label {
          color: $color-primary-01;
          border: 2px solid $color-primary-01;
        }
      }
    }

    label {
      display: block;
      padding: 13px 0;
      border-radius: 8px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      color: #afb8c3;
      border: 2px solid transparent;
    }
  }
}
