@import "/src/variables.scss";

.post_detail {
  background-color: $global_background_color;

  .main_content {
    margin-top: $header_height;
  }

  .comment_action {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}
