@import "/src/variables.scss";

.post_wrap {
  background-color: $color-grey-11;
}

.comment_container {
  width: 100%;
  padding: 16px 16px 80px;
  background-color: #fff;
  min-height: 40vh;
}

.comment_action {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
