.skeleton-box {
  border-radius: 5px;
  animation: pulse-bg 1.5s infinite;
}
@keyframes pulse-bg {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #eee;
  }
}
