$color-primary-01: #ff2eab;
$color-primary-02: #ff43b3;
$olor-primary-03: #ff43b3;
$color-primary-04: #ff6dc4;
$color-primary-05: #ff82cd;
$olor-primary-06: #ff97d5;
$color-primary-07: #ffabdd;
$color-primary-08: #ffc0e6;
$color-primary-09: #ffd5ee;
$olor-primary-10: #ffeaf7;
$color-primary-11: #fff5fb;
$color-grey-01: #afb8c3;
$color-grey-02: #b0b9c4;
$color-grey-03: #b2bbc5;
$color-grey-04: #b6bec8;
$color-grey-05: #bcc3cd;
$color-grey-06: #c3cad2;
$color-grey-07: #ccd2d9;
$color-grey-08: #d6dbe0;
$color-grey-09: #e2e6e9;
$color-grey-10: #f0f2f4;
$color-grey-11: #f9fafb;
$color-black-01: #333d4b;
$font-headline-1: 28px;
$font-headline-2: 20px;
$font-headline-3: 18px;
$font-title-1: 16px;
$font-title-2: 14px;
$font-title-3: 12px;
$font-title-4: 10px;
$font-body-1: 20px;
$font-body-2: 18px;
$font-body-3: 16px;
$font-body-4: 14px;
$font-body-5: 12px;
$font-button-1: 16px;
$font-button-2: 14px;
$font-button-3: 12px;
$lh-headline-1: 34px;
$lh-headline-2: 24px;
$lh-headline-3: 22px;
$lh-title-1: 20px;
$lh-title-2: 18px;
$lh-title-3: 16px;
$lh-title-4: 12px;
$lh-body-1: 34px;
$lh-body-2: 30px;
$lh-body-3: 28px;
$lh-body-4: 24px;
$lh-body-5: 20px;
$lh-button-1: 20px;
$lh-button-2: 18px;
$lh-button-3: 16px;

//customize
$header_height: 56px;
$global_background_color: rgb(249, 250, 251);
